
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
font-family: timer;
src: url(fonts/CursedTimerUlil-Aznm.ttf);
} 

:root {
--light-orange: #e75719;
--dark-orange: #9c380d;
--blue: #241aa5;
--dark-blue: #08052f;
--grey: #d0d0d0;
}

body {
  margin: 0;
  font-family: timer;
  text-align: center;
  background-image: url("images/background.png");
  background-position: center;
  background-size: cover;
}

.splash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  width: 900px;
  height: 450px;
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.splash h1 {
    font-family: 'Pattaya', sans-serif;
}
form {
    margin: 30px;
}
form label {
    line-height: 40px;
}

.container {
  margin: 100px auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}

.column {
min-width: 350px;
padding: 2em;
border: 5px solid var(--dark-blue);
border-radius: 5px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 30px;
  margin-top: 0px;
}

.score-display {
  max-height: 100px; 
  background-color: var(--dark-blue);   
  color: var(--light-orange);
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  padding: 10px 20px;
  border-radius: 5px;
}

.score-controls {
  gap: 15px;
  margin-top: 30px;
  margin-bottom: -5px;
  display: flex;
  justify-content: center;
}

button {
  height: 50px;
  width: 50px;
  border: 2px solid var(--grey);
  border-radius: 5px;
  font-family: timer;
  background-color: var(--dark-orange);
  color: var(--grey);
}

#submit-btn{
  min-width: 150px;  
  font-family: 'Pattaya', sans-serif;
  font-size: 1.5em;

}

#reset {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 185px;
  font-size: 1.5em;
}

#cheering {
font-family: timer;
  font-size: 3em;
  margin: 20px auto;
  padding: 10px;
  min-width: 430px;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--light-orange);
  border-radius: 5px;
}

.leader-pulse {
box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
transform: scale(1);
animation: pulse-black 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse-black {
0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

70% {
  transform: scale(1);
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); /* 4th value is the spread */
}

100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
}

@media (max-width: 1100px) {
    
.splash {
    width: 350px;
    height: 450px;
}    

.container { 
  flex-direction: column;
  margin: 10px;
}

.score-display {
  font-size: 2em;
  padding: 0.2em;
}

h3 {
  font-size: 1.8em;
  padding: 0;
}

button {
  height: 35px;
  width: 35px;
  font-size: 90%;
} 

#reset {
  font-size: 1em;
  min-width: 250px;
  padding: 5px;
}

#cheering {
  min-width: 250px;
  max-width: 350px;
  font-size: 1.5em;
  padding: 5px;
  margin: 0px auto;
}
}